@model IEnumerable<MvcMovie.Models.Person>

@{
    ViewData["Title"] = "Index";
}   
<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th></th>
        </tr>
    </thead>
    <body>
@foreach (var item in Model){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-itemid="@item.PersonID">Edit</a> |
                <a asp-action="Delete" asp-route-itemid="@item.PersonID">Delete</a>
            </td>
        </tr>
}
    </body>
</table>